## Exercises

1. Create a list of numbers 100 elements in length that counts by 3s - i.e., [3,6,9,12,...]
2. Using the list from question 1, create a second list whose elements are the same values converted to strings. hint: use a for loop and the function str().
3. Using the list from question 2, create a variable that concatenates each of the elements in order of index (Hint: result should be like "36912...").
4. Using .pop() and .append(), create a list whose values are the same as the list from question 1 but in reverse order. (Hint: .pop() removes the last element from a list. The value can be save, i.e., x = lst.pop().)
5. Using len(), calculate the midpoint of the list from question 1. Pass this midpoint to slice the list so that the resultant copy includes only the second half of the list from question 1.
6. Create a string that includes only every other element, starting from the 0th element, from the string in question 3 while maintaining the order of these elements (Hint: this can be done be using a for loop whose values are descending).
7. Explain the difference between a dynamic list in Python (usually referred to as a list) and a tuple.

1. Create a list of numbers 100 elements in length that counts by 3s - i.e., [3,6,9,12,...]

In [1]:
for i in range(100):
    print(3 * i)

0
3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48
51
54
57
60
63
66
69
72
75
78
81
84
87
90
93
96
99
102
105
108
111
114
117
120
123
126
129
132
135
138
141
144
147
150
153
156
159
162
165
168
171
174
177
180
183
186
189
192
195
198
201
204
207
210
213
216
219
222
225
228
231
234
237
240
243
246
249
252
255
258
261
264
267
270
273
276
279
282
285
288
291
294
297

Since I am interested, I am going to begin the list at 3.

In [2]:
for i in range(100):
    print((3 * i) + 3)

3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48
51
54
57
60
63
66
69
72
75
78
81
84
87
90
93
96
99
102
105
108
111
114
117
120
123
126
129
132
135
138
141
144
147
150
153
156
159
162
165
168
171
174
177
180
183
186
189
192
195
198
201
204
207
210
213
216
219
222
225
228
231
234
237
240
243
246
249
252
255
258
261
264
267
270
273
276
279
282
285
288
291
294
297
300

2. Using the list from question 1, create a second list whose elements are the same values converted to strings. hint: use a for loop and the function str().

In [3]:
list1 = []
for i in range(100):
    list1.append((3 * i) + 3)
    
list2 = str(list1)
print(list2, type(list2))

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198, 201, 204, 207, 210, 213, 216, 219, 222, 225, 228, 231, 234, 237, 240, 243, 246, 249, 252, 255, 258, 261, 264, 267, 270, 273, 276, 279, 282, 285, 288, 291, 294, 297, 300] <class 'str'>

3. Using the list from question 2, create a variable that concatenates each of the elements in order of index (Hint: result should be like "36912...").

In [4]:
list1 = []
for i in range(100):
    list1.append(str((3 * i) + 3))
nospace = ""
nospace.join(list1)

'369121518212427303336394245485154576063666972757881848790939699102105108111114117120123126129132135138141144147150153156159162165168171174177180183186189192195198201204207210213216219222225228231234237240243246249252255258261264267270273276279282285288291294297300'

4. Using .pop() and .append(), create a list whose values are the same as the list from question 1 but in reverse order. (Hint: .pop() removes the last element from a list. The value can be save, i.e., x = lst.pop().)

In [5]:
list1 = []
for i in range(100):
    list1.append(str(303 - ((3 * i) + 3)))

list1.pop(0) #I removed 300 from the list.
print(list1)

['297', '294', '291', '288', '285', '282', '279', '276', '273', '270', '267', '264', '261', '258', '255', '252', '249', '246', '243', '240', '237', '234', '231', '228', '225', '222', '219', '216', '213', '210', '207', '204', '201', '198', '195', '192', '189', '186', '183', '180', '177', '174', '171', '168', '165', '162', '159', '156', '153', '150', '147', '144', '141', '138', '135', '132', '129', '126', '123', '120', '117', '114', '111', '108', '105', '102', '99', '96', '93', '90', '87', '84', '81', '78', '75', '72', '69', '66', '63', '60', '57', '54', '51', '48', '45', '42', '39', '36', '33', '30', '27', '24', '21', '18', '15', '12', '9', '6', '3']

5. Using len(), calculate the midpoint of the list from question 1. Pass this midpoint to slice the list so that the resultant copy includes only the second half of the list from question 1.

In [6]:
list1 = []
for i in range(100):
    list1.append((3 * i) + 3) 
        

length = (len(list1)//2)
endlist = list1[-length:]
                 
print(endlist,length)

[153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198, 201, 204, 207, 210, 213, 216, 219, 222, 225, 228, 231, 234, 237, 240, 243, 246, 249, 252, 255, 258, 261, 264, 267, 270, 273, 276, 279, 282, 285, 288, 291, 294, 297, 300] 50

6. Create a string that includes only every other element, starting from the 0th element, from the string in question 3 while maintaining the order of these elements (Hint: this can be done be using a for loop whose values are descending).

In [7]:
list1 = []
for i in range(100):
    list1.append(str((3 * i) + 3))

del list1[1::2]
nospace = ""
string = nospace.join(list1)

print(string)

39152127333945515763697581879399105111117123129135141147153159165171177183189195201207213219225231237243249255261267273279285291297

7. Explain the difference between a dynamic list in Python (usually referred to as a list) and a tuple.

A list uses brackets whereas a tuple will use parenthesis. Besides that, a list also has more functions because a list can change and adapt while a tuple is not suposed to be changed. THe term that explains a list's ability to change is mutability, menaing that it can change. A tuple is called immutable.