# Project 1 - Chapter 1 - Essentials

In [1]:
print("Hello World")

Hello World

We just used the print function. Print will print whatever object is passed to it. We passed the string, “Hello World!”, and it printed after the code.

# Introduction to Jupyter

This is the first program that I have written in ECON 411/611. Next, we will start working string variables.

In [2]:
msg = "john nash"
print(msg)

john nash

Next, you're going to use the string methods to capitalize different letters.

The method *.upper()* will make the strings all caps, *.title()* will capitalize the first letters of each string.

In [3]:
print(msg.upper())
print(msg.title())

JOHN NASH
John Nash

## String Concatenation 

You can concatenate strings using the “+” sign, that means you can join them in order to create a single aggregate string.

In [4]:
line1 = "This class should be fun"
line2 = "I am looking forward to it."
line3 = "I know a little bit of programming."
line4 = "But there still is a long ways for me to go."

print(line1)
print(line1)
print(line1)
print(line1)

This class should be fun
This class should be fun
This class should be fun
This class should be fun

In [5]:
concat_strings = line1+line2+line3+line4
print(concat_strings)

This class should be funI am looking forward to it.I know a little bit of programming.But there still is a long ways for me to go.

The *sep* emotion in *print()* allows you to determine the character that will be printed in lieu of each comma.

In [6]:
print(line1,line2,line3,line4, sep = "\n")

This class should be fun
I am looking forward to it.
I know a little bit of programming.
But there still is a long ways for me to go.

By using the option, sep = "\n", each comma is interpretted as a new line. This would be the same as adding "\n" to every line.

In [7]:
print(line1+"\n", line2 + "\n", line3 + "\n", line4 + "\n", sep = "")

This class should be fun
I am looking forward to it.
I know a little bit of programming.
But there still is a long ways for me to go.

# Using .strip() and .replace()

In [8]:
spaces = "     Look at the space in the text!       "
print("no spaces removed:", spaces, sep = "\n")

remove_left_spaces = spaces.lstrip()
remove_right_spaces = spaces.rstrip()
remove_left_and_right_spaces = spaces.strip()
remove_all_spaces = spaces.replace(" ","")

print("Remove left spaces:\n" + remove_left_spaces)
print("Remove right spaces:\n" + remove_right_spaces)
print("Remove left and right spaces:\n" + remove_left_and_right_spaces)
print("Remove all spaces:", remove_all_spaces)

print("Capitalize all first letters:", remove_left_spaces.title())

no spaces removed:
     Look at the space in the text!
Remove left spaces:
Look at the space in the text!
Remove right spaces:
     Look at the space in the text!
Remove left and right spaces:
Look at the space in the text!
Remove all spaces: Lookatthespaceinthetext!
Capitalize all first letters: Look At The Space In The Text!

# Working with Values

In [9]:
num1 = 5 + 3
num1s = "5" + "3"

print("num1:", num1, "\nnumls:", num1s)

num1: 8
numls: 53

In [10]:
num1 = 5/3
num2 = 5 / 4
num3 = 4 / 3

print("num1:", num1)
print("num2:", num2)
print("num3:", num3)

num1: 1.6666666666666667
num2: 1.25
num3: 1.3333333333333333

Python will automatically transform int values if the output from the the int generates a float...

In [11]:
type(num1)

float

In [12]:
type(3)

int

In [13]:
float (3)

3.0

In [14]:
type(1.5)

float

In [15]:
3 + 1.5

4.5

In [16]:
type(3 +1.5)

float

The *import* command is used to import a module.

In [19]:
import sys
sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

In [22]:
2. ** 1023

8.98846567431158e+307

In [21]:
2. ** 1024

OverflowError: (34, 'Result too large')