# Project 2: Chapter 2 - Working with Lists

## Lists can hold any kind of object

In [1]:
empty_list = []
int_list = [1,4,8,16,32]
float_list = [1.0,4.0,8.0,16.0,32.0]
string_list = ["Some Words" , "Some new words"]
mixed_list = [2, 5.0, "Words I need"]

print(empty_list)
print(int_list)
print(float_list)
print(string_list)
print(mixed_list)

[]
[1, 4, 8, 16, 32]
[1.0, 4.0, 8.0, 16.0, 32.0]
['Some Words', 'Some new words']
[2, 5.0, 'Words I need']

Let's check the types of objects in the last list.

In [2]:
type(mixed_list)

list

To access elements in a list, you must call the index which starts from 0 and counts upward with each additional element.

In [3]:
mixed_list[0], type(mixed_list[0])

(2, int)

In [4]:
mixed_list[1], type(mixed_list[1])

(5.0, float)

In [5]:
mixed_list[2], type(mixed_list[2])

('Words I need', str)

## Concatenating the lists

In [6]:
list1 = [1,2,4,5,7,8]
list2 = [3,6,9,12,15,18]

join_lists = list1 + list2

list1

[1, 2, 4, 5, 7, 8]

In [7]:
list2

[3, 6, 9, 12, 15, 18]

In [8]:
join_lists

[1, 2, 4, 5, 7, 8, 3, 6, 9, 12, 15, 18]

Remember this is just like concatenating strings

In [9]:
str1 = "Words, maybe string"
str2 = "My better string"

join_strings = str1 + str2
join_strings

'Words, maybe stringMy better string'

In [10]:
join_strings[2]

'r'

## List slices

Suppose that you wanted to call a subset of a list or string. You can do this by using calling lst[start:end]

In [11]:
join_lists

[1, 2, 4, 5, 7, 8, 3, 6, 9, 12, 15, 18]

In [12]:
join_lists[:5]

[1, 2, 4, 5, 7]

In [13]:
join_lists[0:5]

[1, 2, 4, 5, 7]

In [14]:
join_strings[:5]

'Words'

In [15]:
join_strings[0:5]

'Words'

In [16]:
join_strings[5:]

', maybe stringMy better string'

If you call lst[-1], it will access the last element in the list.

In [17]:
join_lists[-1], join_strings[-1]

(18, 'g')

You can count from the end of the list using the negative sign (-). If you count backword after the first colon, this will call all excpet for the last i elements for the command list[:-i].

In [18]:
join_lists[:-1], join_strings[:-1]

([1, 2, 4, 5, 7, 8, 3, 6, 9, 12, 15], 'Words, maybe stringMy better strin')

In [19]:
join_lists[:-5], join_strings[:-5]

([1, 2, 4, 5, 7, 8, 3], 'Words, maybe stringMy better s')

This is a test to see if I can update a file I uploaded to GitHub. It worked!

## For Loops

In [20]:
list1 = [1,2,4,8,16,32]
list2 = [64,32,16,8,4,2]

print("list1:", list1)
print("list2:", list2)

# Create a blank list that we will use to generate the results that we achieved using the + sign: concatenate.

concat_list = []


len_list1 = len(list1)
len_list2 = len(list2)

# First let's concatenate.
for i in range(0, len_list1):
    concat_list.append(list1[i])
    print(i, list1[i])
    
print(concat_list)

for i in range(0, len_list2):
    print(i, list2[i])
    concat_list.append(list2[i])
    
print(concat_list, list1 + list2)

sum_list = []
if len_list1 == len_list2:
    for i in range(len_list1):
        sum_list.append(list1[i] + list2[i])
print("sum_list (append):", sum_list)
    
sum_list = []
if len_list1 == len_list2:
    for i in range(len_list1):
        # lst.insert(index, value)
        sum_list.insert(i, list1[i] + list2[i]) 
print("sum_list (insert):", sum_list)

list1: [1, 2, 4, 8, 16, 32]
list2: [64, 32, 16, 8, 4, 2]
0 1
1 2
2 4
3 8
4 16
5 32
[1, 2, 4, 8, 16, 32]
0 64
1 32
2 16
3 8
4 4
5 2
[1, 2, 4, 8, 16, 32, 64, 32, 16, 8, 4, 2] [1, 2, 4, 8, 16, 32, 64, 32, 16, 8, 4, 2]
sum_list (append): [65, 34, 20, 16, 20, 34]
sum_list (insert): [65, 34, 20, 16, 20, 34]

In [21]:
1 == 1

True

In [22]:
1 != 1 # =/=

False

In [23]:
if 1 == 1:
    print("The Statement is", 1 ==1)

The Statement is True

In [24]:
for i in range(10):
    print("i ==", i, "i < 5:", i < 5)

i == 0 i < 5: True
i == 1 i < 5: True
i == 2 i < 5: True
i == 3 i < 5: True
i == 4 i < 5: True
i == 5 i < 5: False
i == 6 i < 5: False
i == 7 i < 5: False
i == 8 i < 5: False
i == 9 i < 5: False

In [25]:
list1 = ["3",
         "6",
         "9",
         "12",
         "15",
         "18"]

list2 = ["black",
        "blue",
        "yellow",
        "white",
        "green",
        "red"]

print(list1)
print(list2)

sorted_list1 = sorted(list1) # reverse = TRUE
sorted_list2 = sorted(list2)

sorted_list1[::-1], sorted_list2[::2]

['3', '6', '9', '12', '15', '18']
['black', 'blue', 'yellow', 'white', 'green', 'red']

(['9', '6', '3', '18', '15', '12'], ['black', 'green', 'white'])

In [26]:
list3 = ["1", 22, "3" ,23, "5"]
try:
    sorted_list3 = sorted(list3)
except:
    print("TypeError: unorderable types: str < int")

# a generator function creates list using for loop within the list created    
alpha_list3 = [str(val) for val in list3]

num_list3 = []
for val in list3:
    num_list3.append(int(val))
print(alpha_list3)
print(num_list3)
sorted(alpha_list3), sorted(num_list3)

TypeError: unorderable types: str < int
['1', '22', '3', '23', '5']
[1, 22, 3, 23, 5]

(['1', '22', '23', '3', '5'], [1, 3, 5, 22, 23])

You can nest loops, menaing that you can add a loop in a loop.

In [27]:
print("i", "j", "k", "l")
i_list = list(range(3))
j_list = list(range(5))
k_list = list(range(4))
l_list = list(range(6))
for i in range(3):
    for j in range(5):
        for k in range(4):
            for l in range(6):
                print(i, j, k, l)
print(i_list, j_list, k_list, l_list, sep = "\n")

i j k l
0 0 0 0
0 0 0 1
0 0 0 2
0 0 0 3
0 0 0 4
0 0 0 5
0 0 1 0
0 0 1 1
0 0 1 2
0 0 1 3
0 0 1 4
0 0 1 5
0 0 2 0
0 0 2 1
0 0 2 2
0 0 2 3
0 0 2 4
0 0 2 5
0 0 3 0
0 0 3 1
0 0 3 2
0 0 3 3
0 0 3 4
0 0 3 5
0 1 0 0
0 1 0 1
0 1 0 2
0 1 0 3
0 1 0 4
0 1 0 5
0 1 1 0
0 1 1 1
0 1 1 2
0 1 1 3
0 1 1 4
0 1 1 5
0 1 2 0
0 1 2 1
0 1 2 2
0 1 2 3
0 1 2 4
0 1 2 5
0 1 3 0
0 1 3 1
0 1 3 2
0 1 3 3
0 1 3 4
0 1 3 5
0 2 0 0
0 2 0 1
0 2 0 2
0 2 0 3
0 2 0 4
0 2 0 5
0 2 1 0
0 2 1 1
0 2 1 2
0 2 1 3
0 2 1 4
0 2 1 5
0 2 2 0
0 2 2 1
0 2 2 2
0 2 2 3
0 2 2 4
0 2 2 5
0 2 3 0
0 2 3 1
0 2 3 2
0 2 3 3
0 2 3 4
0 2 3 5
0 3 0 0
0 3 0 1
0 3 0 2
0 3 0 3
0 3 0 4
0 3 0 5
0 3 1 0
0 3 1 1
0 3 1 2
0 3 1 3
0 3 1 4
0 3 1 5
0 3 2 0
0 3 2 1
0 3 2 2
0 3 2 3
0 3 2 4
0 3 2 5
0 3 3 0
0 3 3 1
0 3 3 2
0 3 3 3
0 3 3 4
0 3 3 5
0 4 0 0
0 4 0 1
0 4 0 2
0 4 0 3
0 4 0 4
0 4 0 5
0 4 1 0
0 4 1 1
0 4 1 2
0 4 1 3
0 4 1 4
0 4 1 5
0 4 2 0
0 4 2 1
0 4 2 2
0 4 2 3
0 4 2 4
0 4 2 5
0 4 3 0
0 4 3 1
0 4 3 2
0 4 3 3
0 4 3 4
0 4 3 5
1 0 0 0
1 0 0 1
1 0 0 2
1 0 0 3
1 0 0 4
1 0 0 5
1 0 1 0
1 0 1 1
1 0 1 2
1 0 1 3
1 0 1 4
1 0 1 5
1 0 2 0
1 0 2 1
1 0 2 2
1 0 2 3
1 0 2 4
1 0 2 5
1 0 3 0
1 0 3 1
1 0 3 2
1 0 3 3
1 0 3 4
1 0 3 5
1 1 0 0
1 1 0 1
1 1 0 2
1 1 0 3
1 1 0 4
1 1 0 5
1 1 1 0
1 1 1 1
1 1 1 2
1 1 1 3
1 1 1 4
1 1 1 5
1 1 2 0
1 1 2 1
1 1 2 2
1 1 2 3
1 1 2 4
1 1 2 5
1 1 3 0
1 1 3 1
1 1 3 2
1 1 3 3
1 1 3 4
1 1 3 5
1 2 0 0
1 2 0 1
1 2 0 2
1 2 0 3
1 2 0 4
1 2 0 5
1 2 1 0
1 2 1 1
1 2 1 2
1 2 1 3
1 2 1 4
1 2 1 5
1 2 2 0
1 2 2 1
1 2 2 2
1 2 2 3
1 2 2 4
1 2 2 5
1 2 3 0
1 2 3 1
1 2 3 2
1 2 3 3
1 2 3 4
1 2 3 5
1 3 0 0
1 3 0 1
1 3 0 2
1 3 0 3
1 3 0 4
1 3 0 5
1 3 1 0
1 3 1 1
1 3 1 2
1 3 1 3
1 3 1 4
1 3 1 5
1 3 2 0
1 3 2 1
1 3 2 2
1 3 2 3
1 3 2 4
1 3 2 5
1 3 3 0
1 3 3 1
1 3 3 2
1 3 3 3
1 3 3 4
1 3 3 5
1 4 0 0
1 4 0 1
1 4 0 2
1 4 0 3
1 4 0 4
1 4 0 5
1 4 1 0
1 4 1 1
1 4 1 2
1 4 1 3
1 4 1 4
1 4 1 5
1 4 2 0
1 4 2 1
1 4 2 2
1 4 2 3
1 4 2 4
1 4 2 5
1 4 3 0
1 4 3 1
1 4 3 2
1 4 3 3
1 4 3 4
1 4 3 5
2 0 0 0
2 0 0 1
2 0 0 2
2 0 0 3
2 0 0 4
2 0 0 5
2 0 1 0
2 0 1 1
2 0 1 2
2 0 1 3
2 0 1 4
2 0 1 5
2 0 2 0
2 0 2 1
2 0 2 2
2 0 2 3
2 0 2 4
2 0 2 5
2 0 3 0
2 0 3 1
2 0 3 2
2 0 3 3
2 0 3 4
2 0 3 5
2 1 0 0
2 1 0 1
2 1 0 2
2 1 0 3
2 1 0 4
2 1 0 5
2 1 1 0
2 1 1 1
2 1 1 2
2 1 1 3
2 1 1 4
2 1 1 5
2 1 2 0
2 1 2 1
2 1 2 2
2 1 2 3
2 1 2 4
2 1 2 5
2 1 3 0
2 1 3 1
2 1 3 2
2 1 3 3
2 1 3 4
2 1 3 5
2 2 0 0
2 2 0 1
2 2 0 2
2 2 0 3
2 2 0 4
2 2 0 5
2 2 1 0
2 2 1 1
2 2 1 2
2 2 1 3
2 2 1 4
2 2 1 5
2 2 2 0
2 2 2 1
2 2 2 2
2 2 2 3
2 2 2 4
2 2 2 5
2 2 3 0
2 2 3 1
2 2 3 2
2 2 3 3
2 2 3 4
2 2 3 5
2 3 0 0
2 3 0 1
2 3 0 2
2 3 0 3
2 3 0 4
2 3 0 5
2 3 1 0
2 3 1 1
2 3 1 2
2 3 1 3
2 3 1 4
2 3 1 5
2 3 2 0
2 3 2 1
2 3 2 2
2 3 2 3
2 3 2 4
2 3 2 5
2 3 3 0
2 3 3 1
2 3 3 2
2 3 3 3
2 3 3 4
2 3 3 5
2 4 0 0
2 4 0 1
2 4 0 2
2 4 0 3
2 4 0 4
2 4 0 5
2 4 1 0
2 4 1 1
2 4 1 2
2 4 1 3
2 4 1 4
2 4 1 5
2 4 2 0
2 4 2 1
2 4 2 2
2 4 2 3
2 4 2 4
2 4 2 5
2 4 3 0
2 4 3 1
2 4 3 2
2 4 3 3
2 4 3 4
2 4 3 5
[0, 1, 2]
[0, 1, 2, 3, 4]
[0, 1, 2, 3]
[0, 1, 2, 3, 4, 5]